@charset "utf-8";
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0);
	background-color: #0F6;
	border-radius: .5px;
}

::-webkit-scrollbar
{
	width: .5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 1px;
	background-color: #FFF;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D))
}
body{
	width:100%;
	height:100;
	padding:0;
	margin:0;
}
.page .center .header{
	background:black;
	width:100%;
	margin-top:0;
	height:40px;
	position:fixed;
	
}
#back-btn{display:none;}
#back-btn  img{
	margin-top:10px;
	margin-left:5px;
	height:20px;
	src:url(img/mus.png);
	float:left;
}
#title img{
	margin-top:7px;
	margin-left:10px;
	height:30px;
}
#title0{
	display:none;
}
#title0 img{
	margin-top:7px;
	margin-left:10px;
	height:30px;

}
.section{
	margin-top:40px;
}


.page{
	background:#39F;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-transform:translate3d(0,0,0);
	-moz-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.page.center{
	-webkit-transform: translate3d(0,0,0);
	transform:translate3d(0,0,0);
}
.page .rightTotal{
	position:fixed;
	z-index:1;
	background:#036;
	width:100%;
	height:100%;
	top:40px;
	-webkit-transform:translate3d(100%,0,0);
	transform:translate3d(100%,0,0);
	overflow:scroll;
}
.rightTotal #load-async{
	margin-bottom: 40px;	

}
#boton{
	top60px;
}

